<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Question List</h1>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questionList}">
        <td>
            <a th:href="@{|/question/detail/${question.getId()}|}" th:text="${question.getSubject()}"></a>
        </td>
        <td th:text="${question.getCreateDate()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>